<h3>
  <div class="field">
    <%= gravatar_for @user %>
    <%= @user.name %><br>
    email： <%= @user.email %><br>
  </div>
  <div class="field">
    年齢：　<%= @user.age %><br>
    生年月日：　<%= @user.birth_day %><br>
    地域：　<%= @user.region %><br>
    プロフィール<br>
    <%= @user.profile %><br>
  </div>
</h3>
<h4>
  <%= link_to "プロフィールを編集する", edit_user_path %>
</h4>