<div class="row">
  <div class="col-md-4">
    <h1><%= gravatar_for @user %>
    <%= @user.name %></h1><br>
  </div>
  <div class="col-md-8">
   <section>
      <h3><%= @title %></h3>
      <h2>  
        <table class="table">
          <thead>
            <tr>
              <th>名前</th>
              <th>地域</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.region %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </h2>
    </section>
  </div>
</div>